@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&display=swap');
body{
    font-family: 'Inter', sans-serif
}
@theme{
    --font-orbitron: "Orbitron", sans-serif;
    --font-inter: "Inter", sans-serif;
    --color-darkGray: "#2A2A2A";
    --color-silver: "#C0C0C0";
    --color-lightBlue: "#ADD8E6";
}
@import "tailwindcss";
@plugin "daisyui";